<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcePjlIEEXuDdWdvIzufxa6pjUu_5re4I</string>
	<key>GCM_SENDER_ID</key>
	<string>1089235181955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valeriewilliams.thepunch</string>
	<key>PROJECT_ID</key>
	<string>the-punch-swe</string>
	<key>STORAGE_BUCKET</key>
	<string>the-punch-swe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089235181955:ios:5459d8f8a832bd20ae96b6</string>
</dict>
</plist>