# Firebase
GoogleService-Info.plist
**/GoogleService-Info.plist

# iOS build junk
DerivedData/
.build/
*.xcworkspace
*.xcuserdata
*.DS_Store
*.xcuserdatad/

*.xcuserstate
*.xcbkptlist

# Node
node_modules/
.env
